version: '3.8'

networks: #connect to external network-to us–µ kafka
  bank_service:
    external: true

services:
  credit_service:
    networks:
      - bank_service
    #build: ./
    image: flaw1ess/bank_credit_service:latest
    ports:
      - "8081:8081"
    depends_on:
    - mongo

  mongo:
    networks:
      - bank_service
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    ports:
      - "27019:27017"

